/* Add this CSS to your stylesheet */
.colorButtonContainer {
  display: flex;
}

.colorButton {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  cursor: pointer;
  border: 1.6px solid #000; /* Add border around the button */
  border-radius: 50%; /* Make the button round */
}

#layerCheckbox {
  width: auto;
  margin-right: 5px; /* Adjust as needed */
}

.checkbox-container .form-check-input {
  width: auto;
  margin-right: 5px; /* Adjust margin as needed */
}

@media screen and (max-width: 900px) {
  canvas {
    width: 100%;
    height: auto;
  }
}
